.address a:hover~.icon>.icon-svg {
    animation: jump 1s infinite;
  animation-fill-mode: forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}


.phones a:hover~.icon>.icon-svg {
  animation: shake 1.2s infinite;
  animation-fill-mode: forwards;
}
@keyframes shake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0);
  }
}

.name p:hover~.icon>.icon-svg {
  animation: turn 1.2s infinite;
  animation-fill-mode: forwards;
}
@keyframes turn {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/** AngularAnimate **/
.fade-anim {
  &.ng-enter {
    opacity: 0;
    transition: all 0.5s;
    &-prepare {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }
}
.fade-toggle-anim {
  &.ng-enter {
    opacity: 0;
    transition: all 0.5s;
    &-prepare {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    transition: all 0.5s;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.slide-anim {
  &.show-add {
    transform: translateY(-100%);
    transition: all 0.5s;
  }
  &.show {
    transform: translateY(0);
  }
  &.show-remove {
      transform: translateY(-100%);
  }
}
.menu__list {
  &.ng-enter {
    opacity: 0;
    transition: all 0.5s;
    &-prepare {
      opacity: 0;
    }
    &.ng-enter-active {
      opacity: 1;
    }
  }
}