/* LIBS */
@import "libs/bootstrap";
@import "libs/owl.carousel.min";
@import "libs/owl.theme.default.min";
@import "libs/jquery.fancybox.min";

/* HELP FILES */
@import "variables";
@import "font-faces";
@import "mixins";
@import "svg";
@import "animations";

/* COMPONENTS */
@import "components/menu";
@import "components/footer";
@import "components/content";
@import "components/category";
@import "components/contacts";
@import "components/gallery";



/* GLOBAL STYLES */
:root {
  font-size: 16px;
}
@media screen and (max-width: 1100px) {
  :root {
    font-size: 14px;
  }
}

html {
  min-height: 100%;
}
body {
  font-family: $font-main;
}
a {
  color: $color-opos;
  transition: $trans-main;
  position: relative;
  &:before {
    content: '';
    display: block;
    background: $color-second;
    width: 0;
    height: 1px;
    position: absolute;
    bottom:-3px;
    left: 0;
    transition: all 0.2s;
  }
  &:hover {
    color: $color-second;
    text-decoration: none;
    &:before {
      width: 50px;
    }
  }
  &:focus {
    color: $color-second;
    text-decoration: none;
  }
}

.line {
  width: 90%;
  height: 1px;
  background: $color-opos;
  margin: auto;
}

.main-heading {
  font-weight:bold;
  font-size: 2.2rem;
  color: $color-text;
  text-align: center;
  &:after {
    content: '';
    display: block;
    width: 55%;
    height: 1px;
    background: #4c4c4c;
    margin: auto;
    position: relative;
    bottom: -10px;
  }
  @media screen and (max-width: 620px) {
    font-size: 1.8rem;
  }
}