.st0{fill:#ECECEC;}
.st1{fill:#FFFFFF;}
.st2{fill:#D0D0D0;}
.st3{fill:#EDEDED;}
.st4{fill:#F9F9F9;}
.st5{fill:#C1C1C1;}
.st6{fill:#B2B2B2;}
.st7{fill:#999999;}
.st8{fill:#969696;}
.st9{fill:#D3D3D3;}
.st10{fill:#9B9B9B;}
.st11{fill:#D1D1D1;}
.st12{fill:none;}
.st13{fill:#D8D8D8;}
.st14{fill:#EAEAEA;}
.st15{fill:#B7B7B7;}
.st16{fill:#E5E5E5;}
.st17{fill:#BCBCBC;}
.st18{fill:#E0E0E0;}
.st19{fill:#E8E8E8;}
.st20{fill:#C6C6C6;}
.st21{fill-rule:evenodd;clip-rule:evenodd;fill:#232645;}
.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#2D3059;}
.st23{fill:#8A8A8A;}
.st24{fill-rule:evenodd;clip-rule:evenodd;fill:#757C7D;}
.st25{fill-rule:evenodd;clip-rule:evenodd;fill:#4E4E4E;}
.st26{fill:#474A81;}
.st27{fill:#434679;}
.st28{fill:#F7F7F7;}
.st29{fill:#CECECE;}
.st30{fill:#6B6B6B;}
.st31{
  fill:#FFFFFF;
  stroke:#2F3156;
  stroke-miterlimit:10;
  &:hover {
    fill: $color-main;
  }
}
.st32{fill:#2F3156;}

.blue{
  fill: $color-main;
}
.blue-lighter {
  fill: lighten($color-main, 10%);
}
.blue-light {
  fill: lighten($color-main, 25%);
}
.blue-light-super {
  fill: lighten($color-main, 60%);
}
.green {
  fill: $color-second;
}
.white {
  fill: $color-opos;
}