/* COLORS */
$color-main: #2f3156;
$color-main-lighter: #464877;
$color-main-light: #686AAB;
$color-second: #00c287;
$color-opos: #fff;
$color-opos-darker: #f1f1f1;
$color-text: #4c4c4c;

/* FONTS */
$font-main: "OpenSans", Arial, sans-serif;
$font-text: "Roboto", Arial, sans-serif;

/* TRANSITIONS */
$trans-main: all 0.3s;

/* SHADOWS */
$shadow-blue: 0 0 4px 1px $color-main;
$shadow-blue-alpha: 0 0 8px 2px rgba(30,30,61,0.6);
$shadow-1lvl: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-1lvl-inset: 0 3px 6px rgba(0,0,0,0.16) inset, 0 3px 6px rgba(0,0,0,0.23) inset, 0 -3px 6px rgba(0,0,0,0.23) inset;
$shadow-2lvl: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-2lvl-inset: 0 10px 20px rgba(0,0,0,0.19) inset, 0 6px 6px rgba(0,0,0,0.23) inset, 0 -6px 6px rgba(0,0,0,0.23) inset;
$shadow-4lvl: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/* BORDERS */
$border-main: 5px solid $color-opos;