.category {
  max-width: 1180px;
  width: 100%;
  margin: em(40) auto 0 auto;
  &__image {
    width: 100%;
    text-align: center;
    margin-top: em(50);
    border: $border-main;
    box-shadow: $shadow-2lvl;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__paragraph {
    width: 100%;
    max-width: 800px;
    margin: em(40) auto 0 auto;
    border: $border-main;
    box-shadow: $shadow-2lvl;
    background: $color-opos-darker;
    font-size: 1.1rem;
    line-height: em(22);
    padding: em(15);
    text-align: justify;
    font-family: $font-text;
    .warn-text {
      font-size: 1.5rem;
      font-weight: normal;
    }
    &-heading {
      font-size: 1.3rem;
      font-weight: bold;
    }
    &-list {
      margin-top: em(15);
      font-size: 1rem;
    }
  }
  &__gallery {
    margin-top: em(40);
    border: $border-main;
    background: $color-opos;
    box-shadow: $shadow-2lvl;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &-item {
      box-shadow: $shadow-2lvl;
      margin: em(15);
      display: flex;
      height: 300px;
      background-size: cover!important;
      background-position: center!important;
      &.big {
        flex: 2;
      }
      &.small {
        flex: 1;
      }
      &.full {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .category {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .category {
    &__gallery {
      flex-wrap: wrap;
      &-item {
        width: 100%;
        &.big {
          flex: auto;
        }
        &.small {
          flex: auto;
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .category {
    &__image {
      margin-top: em(30);
    }
    &__paragraph-list {
      padding-left: 1em;
      li {
        line-height: 16px;
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .category {
    margin-top: 20px;
  }
}