.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 0 em(30) 85px em(30);
  margin-left: 350px;
  min-height: 100%;
  background: url('../img/main-back-3.jpg');
  background-size: cover;
  background-attachment: fixed;
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-main;
    border: $border-main;
    color: $color-opos;
    margin: em(60) 0 em(50) 0;
    padding: em(30);
    font-family: $font-text;
    font-weight: 100;
    font-size: 1rem;
    line-height: em(24);
    box-shadow: $shadow-2lvl;
    .about-text {
      width: auto;
      margin-right: em(20);
      p {
        margin-bottom: em(18);
      }
      .warn-text {
        font-size: 1.4rem;
      }
      ul {
        margin-bottom: em(18);
        li {
          line-height: em(25);
        }
      }
      .contacts {
        display: flex;
        font-size: 1.3rem;
        color: $color-second;
        align-items: center;
        .icon {
          display: flex;
          margin-right: 10px;
          &-phone {
            width: 20px;
            height: 26px;
          }
          &-position {
            width: 20px;
            height: 26px;
          }
        }
        a {
          margin-right: 5px;
          &:not(:last-child):after {
            content: '/';
            padding: 0 3px 0 5px;
          }
        }
      }
    }
    .slider {
      width: 600px;
      max-width: 600px;
      box-shadow: $shadow-2lvl;
      &-item {
        width: 600px!important;
        height: 400px;
        background-size: cover!important;
      }
      .owl-nav {
        position: absolute;
        width: 100%;
        text-align: justify;
        bottom: 50%;
        margin-bottom: -40px;
        height: 62px;
        [class*=owl-] {
          background: none;
        }
        .owl-prev {
          float: left;
          margin-left: 15px;
        }
        .owl-next {
          float: right;
          margin-right:15px;
          .icon-arrow {
            transform: rotate(180deg);
          }
        }
        .icon-arrow {
          width: 18px;
          height: 62px;
          filter: drop-shadow(0 0 2px $color-main);
          .hover {
            opacity: 0;
            transition: $trans-main;
          }
          &:hover {
            .hover {
              opacity: 1;
            }
          }
        }
      }
      .owl-dots {
        position: absolute;
        width: 80px;
        left: 50%;
        margin-left: -40px;
        bottom: 10px;
        .owl-dot {
          &.active {
            span {
              background: $color-second;
              transition: $trans-main;
            }
          }
          span {
            border-radius: 50px;
            background: $color-opos;
            border: 2px solid $color-opos;
            box-shadow: $shadow-blue;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  .categories {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &_item {
      flex:1;
      max-width: 320px;
      box-shadow: $shadow-2lvl;
      transition: $trans-main;
      &:not(:last-child) {
        margin-right: em(15);
      }
      a {
        display:flex;
        justify-content: center;
        align-items: center;
        &:hover:before {
          display: none;
        }
      }
      &:hover {
        box-shadow: $shadow-4lvl;
        svg {
          transform: scale(0)  translate3d( 0, 0, 0);
          transform-origin: center;
        }
        .text {
          font-size: 1.6rem;
          bottom: 65px;
          &:before {
            width: 90%;
          }
          &:after {
            width: 90%;
          }
        }
        .image {
          filter: brightness(20%);
        }
      }
      &__back {
        border: $border-main;
        width: 100%;
        height: 220px;
        box-sizing: border-box;
        position: relative;

        .image {
          background: url('../img/image-1.jpg') center;
          background-size: cover;
          filter: brightness(40%);
          height: 100%;
          transition: $trans-main;
        }
        .icon {
          position: absolute;
          top:8px;
          width: 100%;
          text-align: center;
          svg {
            width: 100%;
            max-height: 100px;
            transition: $trans-main;
          }
        }
        .text {
          transition: all 0.2s;
          position: absolute;
          bottom: 15px;
          width: 100%;
          text-align: center;
          color: $color-opos;
          font-size: 1.4rem;
          line-height: em(18);
          min-height: 67px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &:before {
            content: '';
            display: block;
            width: 80%;
            height: 1px;
            background: $color-opos;
            margin: 0 auto 5px auto;
            transition: all 0.2s;
          }
          &:after {
            content: '';
            display: block;
            width: 60%;
            height: 1px;
            background: $color-opos;
            margin: 10px auto 0 auto;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .warn-text {
    color: $color-second;
    font-family: $font-main;
  }
}


/** ADAPTIVE --------------------------------------------------------------> **/
@media screen and (max-width: 1700px) {
  .content {
    .info {
      margin-top: em(20);
    }
  }
}

@media screen and (max-width: 1590px) {
  .content {
    margin-left: 300px;
  }
}
@media screen and (max-width: 1500px) {
  .content {
    .slider {
      width: 450px!important;
      &-item {
        width: 450px !important;
        height: 300px!important;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .content {
    .categories_item__back {
      .text {
        padding: 0 em(10);
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .content {
    .info {
      flex-direction: column;
      .about-text {
        margin-right: 0;
        margin-bottom: em(20);
        .contacts {
          margin-top: em(20);
        }
      }
      .slider {
        width: 600px!important;
        &-item {
          width: 600px !important;
          height: 400px!important;
        }
      }
    }
    .categories {
      flex-wrap: wrap;
      justify-content: center;
      &_item {
        flex: auto;
        width: auto;
        min-width: 240px;
        margin: 0 em(50) em(20);
        &:not(:last-child) {
          margin: 0 em(50) em(20);
        }
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .content {
    .categories {
      &_item {
        margin: 0 em(20) em(20);
        &:not(:last-child) {
          margin: 0 em(20) em(20);
        }
      }
    }
  }
}
@media screen and (max-width: 1020px) {
  .content {
    .info {
      width: 98%;
      .slider {
        width: 550px!important;
        &-item {
          width: 550px !important;
          height: 375px!important;
        }
      }
    }
    .categories_item__back {
      .text {
        padding: 0 em(10);
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .content {
    margin-left: 0;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 110px;
    .categories_item {
      width: 100%;
    }
  }
}
@media screen and (max-width: 780px) {
  .content {
    .categories_item {
      width: auto;
    }
  }
}
@media screen and (max-width: 720px) {
  .content {
    padding-bottom: 140px;
  }
}
@media screen and (max-width: 680px) {
  .content {
    .info {
      .slider {
        width: 450px!important;
        &-item {
          width: 450px !important;
          height: 300px!important;
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .content {
    .info {
      .slider {
        width: 100%!important;
        &-item {
          width: 100% !important;
          height: 200px!important;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .content {
    padding: 80px 5px 160px;
    .info {
      padding-right: 10px;
      padding-left: 10px;
      .about-text .warn-text {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .content {
    .info {
      .contacts {
        flex-direction: column;
        .icon {
          display: none!important;
        }
        a:after {
          display: none;
        }
      }
    }
  }
}