.contacts {
  max-width: 1180px;
  width: 100%;
  margin: em(40) auto 0 auto;
  &__items {
    margin: em(60) em(70) 0;
    padding: em(25) 0 0 em(30);
    border:5px solid $color-opos-darker;
    box-shadow: $shadow-2lvl;
    background: $color-opos;
    a,p {
      color: $color-second;
      font-size: 2rem;
    }
    &-item {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: em(15);
      &.phones {
        a:not(:first-of-type):after {
          content: '/';
          padding: 0 3px 0 5px;
          color: $color-main;
        }
      }
      .icon {
        margin-right: em(20);
      }
    }
    .icon-svg {
      width: 50px;
      height: 50px;
    }
  }
  &__map {
    height: 450px;
    border: 5px solid $color-opos-darker;
    padding: em(40);
    box-shadow: $shadow-2lvl;
    margin-top: em(40);
    background: $color-opos;
    text-align: center;
    iframe {
      width: 98%;
      height: 100%;
      margin: auto;
      border: none;
      box-shadow: $shadow-2lvl;
      transition: $trans-main;
      &:hover {
        width: 100%;
        box-shadow: $shadow-4lvl;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .contacts {
    &__items {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 991px) {
  .contacts {
    margin-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .contacts {
    &__items {
      margin-top: em(30);
      padding-top: 10px;
      &-item {
        margin-bottom: 5px;
        a,p {
          font-size: 1.4rem;
        }
        .icon svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .contacts {
    margin-top: 20px;
    &__map {
      padding: 1em;
    }
  }
}
@media screen and (max-width: 400px) {
  .contacts {
    &__items {
      padding-left: 10px;
      .icon {
        display: none;
      }
    }
  }
}