.footer {
  background: $color-opos-darker;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 43px;
  border-top: 1px solid $color-main;
  outline: 1px solid $color-opos;
  display: flex;
  align-items: center;
  padding-left: em(20);
  justify-content: space-between;
  box-shadow: 0 -5px 6px rgba(0,0,0,0.23);
  a:before {
    bottom: -2px;
  }
  .rights {
    font-weight: bold;
    font-size: 0.8rem;
    position: relative;
    padding-left: em(24);
    &:before {
      content: '©';
      position: absolute;
      left: 0;
      top: -5px;
      color: $color-main;
      font-size: 1.2rem;
    }
  }
  &__contacts {
    display: flex;
    font-size: 1.3rem;
    color: $color-second;
    align-items: center;
    .icon {
      display: flex;
      margin-right: 10px;
      &-phone {
        width: 20px;
        height: 26px;
      }
      &-position {
        width: 20px;
        height: 26px;
      }
    }
    &__phones {
      margin-right: 100px;
      a:not(:last-child):after {
        content: '/';
        padding: 0 3px 0 5px;
      }
    }
    &__address {
      display: flex;
    }
  }
  .social {
    background: $color-main;
    position: relative;
    right: -20px;
    height: 43px;
    transform: skew(-30deg);
    padding: 0 em(30);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    &:before {
      content: '';
      display: block;
      height: 43px;
      width: 20px;
      position: absolute;
      left: -40px;
      background: $color-main;
    }
    &__content {
      transform: skew(30deg);
      display: flex;
      align-items: center;
      .icon {
        display: flex;
        margin-right: em(7);
        &-inst {
          width: 28px;
          height: 30px;
        }
        &-yout {
          width: 28px;
          height: 20px;
        }
      }
      a {
        color: $color-opos;
        &:not(:last-child) {
          margin-right: em(50);
        }
        &:hover:before {
          background: $color-opos;
        }
      }
    }
  }
  a {
    color: $color-second;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    &__contacts__phones {
      margin-right: em(20);
    }
  }
}
@media screen and (max-width: 1180px) {
  .footer {
    .social {
      padding: 0 2em 0 1.2em;
      &__content a:not(:last-child) {
        margin-right: 1.125em;
      }
    }
  }
}
@media screen and (max-width: 1020px) {
  .footer {
    .social {
      &:before {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .footer {
    flex-wrap: wrap;
    padding: 0;
    height: auto;
    z-index: 1;
    .rights {
      margin-left: em(20);
    }
    &__contacts {
      margin: em(10) em(20) em(10) 0;
    }
    .social {
      width: 100%;
      position: static;
      padding: 0;
      transform: none;
      &__content {
        transform: none;
        margin: auto;
      }
      &:before {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .footer {
    .rights {
      width: 100%;
      padding-left: 0;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      &:before {
        position: static;
      }
      a {
        margin-left: 5px;
      }
    }
    &__contacts {
      width: 100%;
      justify-content: center;
      margin-right: 0;
      margin-top: 5px;
    }
  }
}
@media screen and (max-width: 460px) {
  .footer {
    &__contacts {
      flex-wrap: wrap;
      &__phones {
        margin-right: 0;
      }
      &__address {
        width: 100%;
        justify-content: center;
        margin-top: 5px;
      }
    }
  }
}