.gallery {
  max-width: 1180px;
  width: 100%;
  margin: em(40) auto 0 auto;
  &__photos {
    margin: em(50) 0 em(30);
    .masonry-sizer {
      width: 31%;
    }
    &-item {
      width: 31%;
      margin-bottom: em(30);
      border: $border-main;
      box-shadow: $shadow-2lvl;
      transition: $trans-main;
      position: relative;
      overflow: hidden;
      a:after {
        content: '+';
        display: block;
        opacity: 0;
        font-family: $font-text;
        font-weight: bold;
        color: $color-main;
        background: $color-opos;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -10px;
        font-size: 2rem;
        transition: $trans-main;
        z-index: 2;
        text-align: center;
        line-height: 40px;
      }
      &:hover {
        a:after {
          opacity: 1;
        }
        img {
          filter: blur(2px) brightness(50%);
          transform: scale(1.05);
        }
      }
      &-text {
        background: $color-opos-darker;
        position: absolute;
        top: 0;
        left: 0;
        padding: em(3) em(12);
        font-size: 1.2rem;
        color: $color-main;
        z-index: 1;
      }
      a {
        position: relative;
        &:before {
          display: none;
        }
      }
      &:hover {
        box-shadow: $shadow-4lvl;
      }
      img {
        width: 100%;
        height: auto;
        transition: $trans-main;
      }
    }
  }
  &__videos {
    margin-top: em(50);
    &-item {
      margin: 0 em(20) em(40);
      width: 30%;
      float: left;
      border: $border-main;
      box-shadow: $shadow-2lvl;
      transition: $trans-main;
      &:hover {
        box-shadow: $shadow-4lvl;
      }
      .item-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
      }
      .item-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media screen and (max-width: 1420px) {
  .gallery {
    &__videos {
      &-item {
        width: 29%;
      }
    }
  }
}
@media screen and (max-width: 1220px) {
  .gallery {
    &__photos {
      &-item {
        width: 47%;
      }
      .masonry-sizer {
        width: 47%;
      }
    }
    &__videos {
      &-item {
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 1076px) {
  .gallery {
    &__videos {
      &-item {
        width: 44%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .gallery {
    margin-top: 0;
    &__photos {
      &-item {
        width: 31%;
      }
      .masonry-sizer {
        width: 31%;
      }
    }
    &__videos {
      &-item {
        width: 29%;
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .gallery {
    &__photos {
      &-item {
        width: 47%;
      }
      .masonry-sizer {
        width: 47%;
      }
    }
    &__videos {
      &-item {
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 770px) {
  .gallery {
    &__videos {
      &-item {
        width: 43%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .gallery {
    &__photos {
      &-item {
        width: 100%;
      }
      .masonry-sizer {
        width: 100%;
      }
    }
    &__videos {
      &-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .gallery {
    margin-top: 30px;
  }
}
@media screen and (max-width: 380px) {
  .gallery {
    margin-top: 12px;
  }
}