.menu {
  position: fixed;
  height: 100%;
  background: $color-main;
  border-right: $border-main;
  width: 350px;
  box-shadow: $shadow-blue-alpha;
  &__wrapper {
    display: block;
  }
  .loading {
    font-size: 1.5rem;
    color: $color-opos;
    padding: 2em 0;
    text-align: center;
  }
  &__logo {
    width: 100%;
    padding: em(30) em(50) em(40) em(50);
    a:hover:before {
      display: none;
    }
  }

  &__list {
    color: $color-opos;
    padding: em(30) 0 0 em(50);
    margin-bottom: em(26);
    .first-lvl {
      list-style: none;
      padding:0;
      cursor: pointer;
      li {
        padding-bottom: em(10);
        position: relative;
        a {
          font-size: 1.5rem;
          &.active {
            color: $color-second;
          }
          &:hover {
            .green {
              opacity: 1!important;
            }
          }
        }
      }
      .dropdown-icon {
        display: inline-block;
        position: relative;
        top: -1px;
        left: 0;
        margin-left: 3px;
        transition: $trans-main;
        transform-origin: center;
        svg {
          width: 10px;
          height: 11px;
          transform: rotate(0);
          transition: $trans-main;
          &.rotated {;
            transition: $trans-main;
            transform-origin: center;
            transform: rotate(90deg);
          }
          use {
            transition: $trans-main;
          }
          .blue,.green {
            opacity: 0;
          }
        }
      }
    }
    .second-lvl {
      list-style: none;
      padding-left: em(22);
      margin-top: em(12);
      li {
        padding-bottom: em(8);
        a {
          font-size: 1.1rem;
        }
      }
    }
    .js_second-lvl {
      display: none;
    }
  }
  &__contacts {
    color: $color-opos;
    font-size: 1.5rem;
    padding: em(16) 0 0 em(28);
    &-tel {
      display: flex;
      margin-bottom: 5px;
    }
    .icon {
      display: flex;
      align-items: center;
      margin-right: em(15);
      &-tel {
        width: 20px;
        height: 26px;
      }
    }
  }
}
.dropdown-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  transition: $trans-main;
  @media screen and (min-width: 992px) {
    display: none!important;
  }
}

@media screen and (max-width: 1590px) {
  .menu {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .menu {
    width: 100%;
    position: fixed;
    height: auto;
    border-right: none;
    border-bottom: $border-main;
    box-shadow: $shadow-1lvl;
    z-index: 100;
    &__logo {
      width: 20%;
      padding: initial;
    }
    &__list {
      position: absolute;
      background: $color-opos-darker;
      width: 100%;
      left: 0;
      top:100%;
      box-shadow: $shadow-1lvl inset;
      border-top: $border-main;
      padding: em(2) 0 0;
      text-align: center;
      z-index: 1;
      transform: scaleY(0);
      transform-origin: center top;
      transition: $trans-main;
      overflow: hidden;
      &.show {
        transform: scaleY(1);
      }
      a {
        color: $color-main;
        width: 100%;
        display: block;
        cursor: pointer;
        &:hover:before {
          display: none;
        }
      }
      .first-lvl {
        margin-bottom: 0;
        cursor: auto;
        .mob_padd {
          margin-left: 9px;
        }
        .dropdown-icon {
          margin-left: 5px;
          position: relative;
          left: 0;
          top: -1px;
        }
        &>li {
          position: relative;
          padding-top: em(9);
          transition: $trans-main;
          padding-bottom: 0;
          &>a {
            padding-bottom: 9px;
          }
          use {
            transition: $trans-main;
            &.blue {
              opacity: 1!important;
            }
          }
          &:hover {
            background: $color-main;
            a {
              color: $color-opos;
              &:hover {
                .green {
                  opacity: 0!important;
                }
              }
            }
            &:not(:last-child):after {
              width: 100%;
            }
            .blue,.green {
              opacity: 0!important;
            }
          }
          &:not(:last-child):after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 90%;
            height: 1px;
            background: $color-main;
            margin: auto;
            transition: $trans-main;
          }
          .second-lvl {
            padding-left: 0;
            background: $color-opos;
            margin-top: 0;
            box-shadow: $shadow-1lvl-inset;
            padding-bottom: em(10);
            li {
              padding-top: 0.5em;
              transition: $trans-main;
              background: $color-opos;
              &:hover {
                background: $color-opos-darker;
              }
            }
            a {
              color: $color-main;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .line {
      display: none;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: em(10) em(20);
    }
    &__contacts {
      display: flex;
      padding: initial;
      &-tel {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: em(40);
        }
      }
      .icon {
        margin-right: 0.6em;
        &-tel {
          width: 15px;
          height: 20px;
        }
      }
    }
  }
}

.navbar-toggle {
  display: block;
  border: 2px solid $color-opos;
  transition: $trans-main;
  .icon-bar {
    background: $color-opos;
    transition: $trans-main;
  }
  &:hover {
    border-color: $color-second;
    .icon-bar {
      background: $color-second;
    }
  }
  &.opened {
    .icon-bar {
      &.first {
        transform: rotate(-45deg) translate(-4px,5px);
      }
      &.last {
        transform: rotate(45deg) translate(-4px,-4px);
      }
      &.second {
        opacity: 0;
      }
    }
  }
  @media screen and (min-width: 992px) {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .menu {
    &__logo {
      width: 35%;
    }
    &__contacts {
      flex-direction: column;
      &-tel:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .menu {
    &__logo {
      width: 50%;
    }
    &__contacts {
      display: none;
    }
  }
}