<div class="category">
    <div class="main-heading">{{category.name}}</div>
    <div class="category__image" ng-style="{'background-image':'url(img/gallery/'+category.imageDetail+')'}"></div>

    <div class="category__paragraph">
        <span class="warn-text">Светодиодный экран</span> - это важный элемент при организации любого вида мероприятия, если Вы
        хотите устроить по настоящему яркое и незабываемое шоу!
        Основные задачи LED экрана  - качественная подача информации для аудитории и использование
        в оформлении сцены, взамен дорогостоящих декораций.
    </div>

    <div class="category__gallery">
        <div class="category__gallery-item big" style="background: url('img/cont-1.jpg');"></div>
        <div class="category__gallery-item small" style="background: url('img/cont-2.jpg');"></div>
    </div>

    <div class="category__paragraph">
        <div class="category__paragraph-heading">Компания <span class="warn-text">"Indigo Rental"</span> предлагает Вам:</div>
        <ul class="category__paragraph-list">
            <li>современное LED оборудование с разрешением P5</li>
            <li>четкая передача изображения и насыщенность цветов</li>
            <li>квалифицированный персонал и консультация специалиста</li>
            <li>программное обеспечение для графической анимации и эффектов</li>
        </ul>
    </div>

    <div class="category__gallery">
        <div class="category__gallery-item small" style="background: url('img/cont-3.jpg');"></div>
        <div class="category__gallery-item small" style="background: url('img/cont-5.jpg');"></div>
        <div class="category__gallery-item full" style="background: url('img/cont-4.jpg');"></div>
    </div>

</div>
