<div class="contacts">
    <div class="main-heading">Наши контакты</div>

    <div class="contacts__items">
        <div class="contacts__items-item address" ng-if="showAddress">
            <a href="#" ng-repeat="loc in addressList">
                {{loc.loc}}
            </a>
            <span class="icon">
                <svg class="icon-svg">
                    <use xlink:href="#position-blue"></use>
                </svg>
            </span>
        </div>
        <div class="contacts__items-item phones"  ng-if="showPhones">

            <a href="#" ng-repeat="phone in phonesList">
                {{phone.tel}}
            </a>
            <span class="icon">
                <svg class="icon-svg">
                    <use xlink:href="#new_phone"></use>
                </svg>
            </span>
        </div>
        <div class="contacts__items-item name" ng-if="showPersons">

            <p ng-repeat="per in personsList">
                {{per.name}}
            </p>
            <span class="icon">
                <svg class="icon-svg">
                    <use xlink:href="#avatar"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="contacts__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.356698827497!2d30.52400326173274!3d50.4490986829609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ecfad616671ad39!2z0JzQvtC90YPQvNC10L3RgiDQndC10LfQsNCy0LjRgdC40LzQvtGB0YLQuA!5e0!3m2!1sru!2sua!4v1491837350649" allowfullscreen></iframe>
    </div>
</div>