<div class="footer">

    <div class="rights">
        <a href="#">
            2015 Indigo Rental. Все права защищены
        </a>
    </div>

    <div class="footer__contacts">

        <span class="icon">
            <svg class="icon-phone">
                <use xlink:href="#old_phone-blue"></use>
            </svg>
        </span>

        <div class="loading dark" ng-if="!showPhones">
            {{message}}
        </div>
        <div class="footer__contacts__phones" ng-if="showPhones">
            <a href="#" ng-repeat="tel in phonesList">
                {{tel.tel}}
            </a>
        </div>


        <div class="footer__contacts__address" ng-if="showAddress">
            <span class="icon">
                <svg class="icon-position">
                    <use xlink:href="#position-blue"></use>
                </svg>
            </span>
            <a href="#" ng-repeat="loc in addressList">
                {{loc.loc}}
            </a>
        </div>
    </div>
    <div class="social">
        <div class="social__content">
            <span class="icon">
                <svg class="icon-inst">
                    <use xlink:href="#instagram"></use>
                </svg>
            </span>
            <a href="#">Instagram</a>

            <span class="icon">
                <svg class="icon-yout">
                    <use xlink:href="#youtube"></use>
                </svg>
            </span>
            <a href="#">YouTube</a>
        </div>
    </div>
</div>