<div class="gallery">
    <div class="main-heading">Фото галерея</div>

        <div class="gallery__photos" ng-if="showGalleryPhotos">
            <div class="masonry-sizer"></div>
            <div class="gallery__photos-item"
                 ng-repeat="photo in photosList">
                <div class="gallery__photos-item-text">
                    {{photo.text}}
                </div>
                <a ng-href="img/gallery/{{photo.urlBig}}" data-fancybox="gallery" ng-attr-data-caption="{{photo.text}}">
                    <img
                            ng-src="img/gallery/{{photo.url}}"
                            alt=""
                            image-on-load="">
                </a>
            </div>
        </div>


    <div class="main-heading">Видео галерея</div>

    <div class="gallery__videos" ng-if="showGalleryVideo">
        <div class="gallery__videos-item" ng-repeat="video in videoList">
            <div class="item-wrapper">
                <iframe ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>