<div class="info">
    <div class="about-text">
        <p>
            <span class="warn-text">Indigo Rental</span> - компания, основным направлением которой
            является комплексное техническое обеспечение любых
            видов мероприятий, от корпоративных вечеров до крупных
            ивентов.
        </p>
        <p>
            Обладая широким прокатным парком, мы предлагаем в
            аренду световое и звуковое оборудование, светодиодные
            LED экраны и сценические конструкции любой сложности.
        </p>
        <ul class="warn-text">
            <li>Качественный звук, свет и видео</li>
            <li>Разработка технического задания(с выездом специалиста)</li>
            <li>Полное техническое сопровождение мероприятия</li>
            <li>Приемлемые цены</li>
        </ul>

        <p>
            Менеджеры нашей компании помогут Вам определиться
            в выборе необходимого оборудования, с учетом
            выбранной площадки и формата мероприятия!
        </p>

        <div class="contacts">
            <span class="icon">
                <svg class="icon-phone">
                    <use xlink:href="#old_phone"></use>
                </svg>
            </span>
            <a class="warn-text" href="#" ng-repeat="tel in phonesList">
                {{tel.tel}}
            </a>
        </div>

    </div>
    <div class="slider">
        <data-owl-carousel class="owl-carousel owl-theme" ng-if="showSlider">
            <div owl-carousel-item="" class="slider-item" ng-repeat="slide in slides" ng-style="{'background-image':'url(img/{{slide.image}})'}"></div>
        </data-owl-carousel>
    </div>
</div>
<div class="categories">
    <div class="categories_item" ng-repeat="cat in categories" ng-if="showCategories">
        <a ui-sref="app.categoryDetail({name: cat.nameUrl, id: cat.id})">
            <div class="categories_item__back">
                <div class="image" ng-style="{'background-image':'url(img/{{cat.imageUrl}})'}">

                </div>
                <div class="icon">
                    <svg class="icon__display">
                        <use ng-attr-xlink:href="{{cat.iconUrl}}" xlink:href=""></use>
                    </svg>
                </div>
                <div class="text">
                    {{cat.name}}
                </div>
            </div>
        </a>
    </div>
</div>