<div class="menu__wrapper">
    <div class="menu__logo">
        <a href="#">
            <img src="img/logo.png" alt="" class="img-responsive">
        </a>
    </div>
    <div class="line"></div>
    <div class="loading" ng-if="!showMenu && !showPhones">
        {{message}}
    </div>
    <div ng-if="showMenu || showPhones" class="mob-hide">
        <div class="loading" ng-if="!showMenu">
            {{message}}
        </div>
        <div class="menu__list" ng-if="showMenu" ng-class="{show:dropdownVisible}">
            <ul class="first-lvl">
                <li ng-repeat="elem in menuList">
                    <a ng-href="{{elem.url}}" ng-class="elem.name == 'Услуги' ? 'js_dropdown mob_padd' : ''" ng-click="changeDropdown(elem.name)">
                        {{elem.name}}
                        <div class="dropdown-icon" ng-if="elem.name == 'Услуги'">
                            <svg class="icon-dropdown">
                                <use class="white" xlink:href="#small_arrow"></use>
                                <use class="green" xlink:href="#small_arrow-green"></use>
                                <use class="blue" xlink:href="#small_arrow-blue"></use>
                            </svg>
                        </div>
                        <ul class="second-lvl js_second-lvl" ng-if="elem.name == 'Услуги'">
                            <li ng-repeat="cat in categories" ng-if="showCategories">
                                <a ui-sref="app.categoryDetail({name: cat.nameUrl, id: cat.id})" ng-click="changeDropdown()">
                                    {{cat.name}}
                                </a>
                            </li>
                        </ul>
                    </a>

                </li>
            </ul>
        </div>
        <div class="line"></div>
        <div>
            <div class="loading" ng-if="!showPhones">
                {{message}}
            </div>
            <div class="menu__contacts" ng-if="showPhones">
                <div class="menu__contacts-tel" ng-repeat="tel in phonesList">
                <span class="icon">
                    <svg class="icon-tel">
                        <use xlink:href="#old_phone"></use>
                    </svg>
                </span>
                    <a href="#">{{tel.tel}}</a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="navbar-toggle collapsed" ng-class="{opened: dropdownVisible}" aria-expanded="false" ng-click="changeDropdown()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar first"></span>
        <span class="icon-bar second"></span>
        <span class="icon-bar last"></span>
    </button>
</div>
<div class="dropdown-back fade-toggle-anim" ng-if="dropdownVisible" ng-click="changeDropdown()"></div>